.column {
    background-color: #e6e4e4;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
    border-radius: 4px;
    min-width: 280px;
    position: relative;
}

.title {
    font-size: 20px;
}

.add {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 8px 8px;
    border-radius: 4px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.noContent {
    text-align: center;
    padding: 16px 0;
    opacity: .6;
}